<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJI9-GZiDQGH3gMxW24VpE2yr-KuSZm9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>510025851921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watchbox.watchbox</string>
	<key>PROJECT_ID</key>
	<string>watchbox-a2473</string>
	<key>STORAGE_BUCKET</key>
	<string>watchbox-a2473.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510025851921:ios:a28999c29490a0d5967db0</string>
</dict>
</plist>